/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
}

/* Utils */

.d-flex {
    display: flex;
}

.text-right {
    text-align: right;
}

/* Header */

header {
    height: 80px;
}

.toolbar {
    margin-top: 10px;
}

.btn {
    background-color: #4a4a4a;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

.fa-th {
    margin-right: 5px;
}

/* Main */

.speaker-view {
    height: calc(100vh - 180px);
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
}

.participant {
    width: 246px;
    height: 146px;
    position: relative;
    margin-top: 5px;
}

.participant-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
    font-size: 14px;
    padding: 5px;
}

/* Footer */

footer {
    height: 100px;
}

.bottom-bar {
    justify-content: space-between;
}